# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarn
.yarnclean

# Directories
coverage/
build/
dist/
dts/
esm/
lib/
tmp/
node_modules/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
jest.config.js
prettier.config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.options.json
webpack.config.js
*.tsbuildinfo
